/BKUP
/Backup3.makefile
/Debug
/Makefile.bk
/bin
/config.txt
/dep
/geocomp.desktop
/geocomp.sh
/geocomp_.exe.sh
/geocomp_old
/launch.desktop
/launch.sh
/log.txt
/log_gladeparse.txt
/makebinary.makefile
/makedepends.makefile
/makeresource.makefile
/makesource.makefile
/obj
/polygons
/resource
/.vscode